<section class="hero" id="hero">

  <div class="hero-left">

    <span class="badge">
      AI Powered Resume Intelligence
    </span>

    <h1>
      Optimize Your Resume.
      <br>
      Get More Interviews.
    </h1>

    <p>
      ResumeOptimizer helps job seekers improve their resumes using AI,
      compare them against job descriptions, understand ATS compatibility,
      identify missing skills and monitor hiring trends through a clean
      enterprise platform.
    </p>

    <div class="buttons">

      <button class="primary-btn" routerLink="/register">

          Get Started


      </button>

<!--      <button class="secondary-btn">-->
<!--        Learn More-->
<!--      </button>-->

    </div>

    <!--<div class="hero-stats">

      <div class="stat">
        <h2>10K+</h2>
        <span>Resumes Analysed</span>
      </div>

      <div class="stat">
        <h2>95%</h2>
        <span>ATS Accuracy</span>
      </div>

      <div class="stat">
        <h2>24/7</h2>
        <span>AI Availability</span>
      </div>

    </div>-->

  </div>

  <div class="hero-right">

    <div class="analysis-card">

      <div class="card-header">

        <div>
          <h3>Resume Analysis</h3>
          <small>Software Engineer</small>
        </div>

        <span class="score">
          87%
        </span>

      </div>

      <div class="section">

        <div class="row">
          <span>ATS Compatibility</span>
          <span>87%</span>
        </div>

        <div class="progress">
          <div class="fill w87"></div>
        </div>

      </div>

      <div class="section">

        <div class="row">
          <span>Skills Match</span>
          <span>78%</span>
        </div>

        <div class="progress">
          <div class="fill w78"></div>
        </div>

      </div>

      <div class="section">

        <div class="row">
          <span>Keyword Coverage</span>
          <span>91%</span>
        </div>

        <div class="progress">
          <div class="fill w91"></div>
        </div>

      </div>

      <hr>

      <div class="recommendations">

        <h4>AI Suggestions</h4>

        <ul>

          <li>Add Spring Boot Microservices</li>

          <li>Include Kubernetes experience</li>

          <li>Improve leadership section</li>

          <li>Add measurable achievements</li>

        </ul>

      </div>

    </div>

  </div>

</section>
